.page-heading h1 {
  display:none;
}
h1, h2.post-title {
  display:block;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.1rem;
}

/* layout stuff */
.projects-heading {
  padding:120px 0 120px 0;
}

/* Display none */
#toc-toggle {
  display:none;
}
/* #theme-toggle {
  display:none;
} */
.tooltip {
  display:none;
}
hr.small {
  display:none;
}
.post-meta {
  display:none;
}
.post-pager.blog-post-pager {
  display:none;
}
.credits.theme-by.text-muted {
  display:none;
}


/* light/dark mode */

h1, [data-theme="dark"] h1 {
  color:rgba(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.6);
  padding:10px;
}

.intro-header.big-img .img-desc {
  background-color: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] footer {
  background-color: rgb(30, 30, 30);
}

[data-theme="dark"] nav.navbar-custom {
  background-color: rgb(30, 30, 30);
}

